* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: "Montserrat"; 
	src: url(fonts/Montserrat-VariableFont_wght.ttf); 
}

@font-face {
	font-family: "Druk Text Wide Cyr"; 
	src: url(fonts/druktextwidecyr-medium.ttf); 
}

.preloader {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(145, 158, 167, 1);
    margin: 0;
    padding: 0;
  }
  
.logo-preloader{
    width: 40%;
    max-width: 650px;
    min-width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

  
  .loader {
    position: absolute;
    top: calc(75% - 64px);
    left: calc(50% - 64px);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    perspective: 800px;
  }
  
  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
  }
  
  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
  }
  
  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
  }
  
  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
  }
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }


.main-img{
    width: 100%;
}  

.first-block{
    position: relative;
    width: 100%;
    max-height: 100vh;
    height: fit-content;
    overflow: hidden;
}

header-first{
    width: 90%;
    max-width: 1500px;
    margin-top: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 0.5px solid rgb(224, 224, 224);
}

.first-block-logo{
    width: 308px;
}

.nav-first{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}

.nav-first p{
    margin-left: 35px;
    text-transform: uppercase;
}

.icons-first{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
}

.icons-first img{
    width: 50px;
    margin-left: 10px;
    filter: invert();
}

.second-block{
    width: 90%;
    height: fit-content;
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.main-first p{
    display: block;
    position: relative;
    font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 120%;
color: white;
}

.newfit-text{
    position: relative;
    margin-top: 100px;
    color: white;
    font-family: "Druk Text Wide Cyr";
    font-size: 85px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 102px */
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.newfit-bottom{
   float: right;
}

.second-block-footer{
    width: 100%;
    height: fit-content;
    position: relative;
    clear: both;
    margin-top: 130px;
}

.second-block-footer a{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 18px 25px;
    text-decoration: none;
    color: #79848A;
font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
text-transform: uppercase;
border-radius: 32px;
}

.second-block-footer p{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.o-clube{
    width: 100%;
    background-color: #717d88;
    position: relative;
    overflow: hidden;
}

.o-clube-tittle{
    padding-top: 150px;
    display: block;
    text-align: center;
    font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 60px */
letter-spacing: 1px;
text-transform: uppercase;
}

.o-clube-description{
    margin: auto;
display: block;
position: relative;
color: #343434;
width: 1057px;
margin-top: 50px;
text-align: center;
font-family: "Montserrat";
font-size: 30px;
font-weight: 400;
line-height: 150%; /* 45px */
}

.newfit-carousel{
    width: 5000px;
    height: fit-content;
    margin-top: 50px;
}

.newfit-carousel{
    width: 5000px;
    height: 90px;
    background-image: url("фото/иконки/NewfitNewfitNewfitNewfitNewfit.png");
    background-repeat: repeat-x;
    animation: infinityMove 50s linear forwards;
    background-position: 0% 0%;
}

@keyframes infinityMove{
    100%{
        background-position: 100% 0%;
    }
}

.o-clube-background{
    width: 100%;
    height: 100%;
    background-color: #E4E8EA;
    border-top-left-radius: 50px;
border-top-right-radius: 50px;
}

.flex-description{
    margin-top: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 100px;
}

.big-letter{
    color:#343434;
font-family: "Montserrat";
font-size: 146.384px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 175.66px */
text-transform: uppercase;
display: inline-block;
margin: 0;
padding: 0;
}

.description-block{
    width: 250px;
    margin-left: 30px;
}

.description-block-p{
    display: inline-block;
    color:#343434;
font-family: "Montserrat";
font-size: 23.113px;
font-style: normal;
font-weight: 600;
line-height: 121%; /* 27.967px */
text-transform: uppercase;
}

.description-block img{
    height: 175.5px;
}

.description-p{
    margin-top: 10px;
    color:#343434;
font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}


.group-fitness{
  height: fit-content;
  display: block;
  width: 100%;
  position: relative;
  color: #343434;
/* header/H4 */
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 60px */
letter-spacing: 1px;
text-transform: uppercase;
padding-left: 250px;
margin-top: 150px;
margin-bottom: 30px;
}

.group-fitness1{
  height: fit-content;
  display: block;
  width: 100%;
  position: relative;
  color: #343434;
/* header/H4 */
font-family: "Montserrat";
font-size: 50px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 60px */
letter-spacing: 1px;
text-transform: uppercase;
padding-left: 250px;
margin-bottom: 30px;
}

.two-buttons{
  position: relative;
  height: fit-content;
  padding-left: 250px;
  padding-bottom: 150px;
}

.first-button{
  text-decoration: none;
  display: inline-block;
  background: #919EA7;
    padding: 18px 45px;
    color: #FFF;
font-family: "Montserrat";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
text-transform: uppercase;
border-radius: 32px;
}

.second-button{
  text-decoration: none;
  display: inline-block;
  background: #ffffff;
    padding: 18px 45px;
    color: #343434;
font-family: "Montserrat";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 140%; /* 19.6px */
text-transform: uppercase;
border-radius: 32px;
border: 1px solid  #343434;
margin-left: 20px;
}

.navigaonusing{
  width: 100%;
  height: fit-content;
  position: relative;
}

.gaonutosal {
  float: left;
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: 3;
}

.pesontedan {
  position: relative;
  width: 100%;
  color: #f3f1f1;
  overflow: hidden;
}

.pesontedan input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.pesontedan label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  line-height: 3;
  cursor: pointer;
  text-shadow: 0 1px 0 #333131;
  font-size: 17px;
}

.pesontedan1{
color:#FFF;
font-family: "Druk Text Wide Cyr";
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: 140%; /* 28px */
text-transform: uppercase;
}

.pesontedan1 label{
  background: #7C878B;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 200px;
}

.pesontedan2{
  color:#FFF;
  font-family: "Druk Text Wide Cyr";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 140%; /* 28px */
  text-transform: uppercase;
  }
  
  .pesontedan2 label{
    background: #919EA7;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 200px;
  }

  .pesontedan3{
    color:#FFF;
    font-family: "Druk Text Wide Cyr";
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%; /* 28px */
    text-transform: uppercase;
    }
    
    .pesontedan3 label{
      background: #343434;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 200px;
    }

    .pesontedan4{
      color:#000000;
      font-family: "Druk Text Wide Cyr";
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: 140%; /* 28px */
      text-transform: uppercase;
      margin-bottom: 150px;
      }
      
      .pesontedan4 label{
        background: #ECEDED;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 200px;
      }

.pesontedan-content {
  max-height: 0;
  overflow: hidden;
  background: #d6d6d6;
  transition: max-height .40s;
  font-size: 14px;
}

.pesontedan-content {
  background: #d5d5d5;
}
.pesontedan-content p {
  margin: 1em;
}
/* :checked */
.pesontedan input:checked ~ .pesontedan-content {
  max-height: 100vh;
}

/* Icon */
.pesontedan label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .40s;
  -o-transition: all .40s;
  transition: all .40s;
}
.pesontedan input[type=checkbox] + label::after {
  content: "+";
}
.pesontedan input[type=radio] + label::after {
  content: "\25BC";
}
.pesontedan input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.pesontedan input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

:root {
  --surface-color: #fff;
  --curve: 40;
}


.cards {
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 200px;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  margin: 0 0 .3em;
  color: #000000;
  font-family: "Montserrat";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 24px */

}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
  color: #656565;  
}

.card__status {
  padding: 8px 20px;
  border-radius: 53px;
background: #919EA7;
color: var(--White, #FFF);
letter-spacing: 3px;
font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 120%; /* 19.2px */
}

.card__description {
  padding: 0 0.5em 0.5em;
  margin: 0;
  color: #707070;
  font-family: "Montserrat";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  border-bottom: 1px solid rgb(88, 88, 88);
}    

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.trenera {
  width: 100%;
  height: fit-content;
  background: #ffffff;
  position: relative;
}

.phone-app{
  width: 100%;
  height: fit-content;
  position: relative;
}

.phone-app img{
  width: 100%;
}

.phone-app h2{
  margin-top: 70px;
  position: absolute;
  color: white;
  display: block;
  text-align: center;
  width: 100%;
  font-family: "Druk Text Wide Cyr";
font-size: 30px;
font-style: normal;
font-weight: 900;
line-height: 140%; /* 42px */
text-transform: uppercase;
}

.flex-phone-app{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.flex-phone-app img{
  width: 240px;
  margin-left: 20px;
  filter: invert();
}

.phone-app h3{
  position: absolute;
  color: white;
  display: block;
  text-align: center;
  width: 100%;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
bottom: 50px;
}
